<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.beaconyx.yesdexproject">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PermissionPackage.CheckPermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".TabViewPagerPackage.AInfoActivity" />
        <activity android:name=".TabViewPagerPackage.BInfoActivity" />
        <activity android:name=".TabViewPagerPackage.CInfoActivity" />
        <activity android:name=".AttendPackage.DInfoActivity" />
        <activity android:name=".TabViewPagerPackage.EInfoActivity" />
        <activity android:name=".MapPackage.MapInfoActivity" />
        <activity android:name=".AttendPackage.AttendInfoActivity" />
        <activity android:name=".Activity.PdfViewerActivity" />
        <activity android:name=".TabViewPagerPackage.FInfoActivity" />
    </application>

</manifest>