<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.beaconyx.yesdexproject">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.AInfoActivity" />
        <activity android:name=".Activity.BInfoActivity" />
        <activity android:name=".Activity.CInfoActivity" />
        <activity android:name=".Activity.DInfoActivity" />
        <activity android:name=".Activity.EInfoActivity" />
        <activity android:name=".Activity.MapInfoActivity" />
        <activity android:name=".Activity.AttendInfoActivity" />
        <activity android:name=".Activity.PDFViewerActivity" />
        <activity android:name=".Activity.FInfoActivity"></activity>
    </application>

</manifest>